/* h1 {
    color:yellow;
    background-color:red;
} */

.one {
    color: blue;
    background-color: black;
    height: 100px;
    width: 100px;
}

.two {
    color: brown;
    background-color: yellow;
    height: 200px;
    width: 200px;
}

#three {
    background-color: purple;
}